# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/

# Project Specific
.env
.python-version
.uv/

# Local data
data/